# TP - Prétraitement des données - Achats alimentaires

**Objectif**: Nettoyer et préparer le jeu de données bruité `donnees_brutes_achats.xlsx` pour le rendre exploitable.

**Étapes**:
1. Importer les données
2. Diagnostiquer la qualité des données
3. Gérer les doublons
4. Uniformiser les chaînes de caractères
5. Harmoniser les catégories
6. Unifier le format des dates
7. Gérer les valeurs manquantes
8. Détecter et traiter les valeurs aberrantes
9. Supprimer la colonne 'Notes'
10. Exporter la table finale propre


# **Rapport de nettoyage**

### Problèmes détectés:
1. **Doublons**: Présence de lignes dupliquées (exactes et par TransactionID)
2. **Chaînes non uniformisées**: Espaces parasites, casse incohérente, synonymes
3. **Catégories incohérentes**: Variations orthographiques et formats différents
4. **Dates hétérogènes**: Formats de dates variés
5. **Valeurs manquantes**: Dans les colonnes Quantité et Prix
6. **Valeurs aberrantes**: Quantités négatives/excessives, prix à 999
7. **Produits invalides**: Lignes avec '—' ou vides

### Choix de nettoyage:
- **Doublons**: Suppression des doublons exacts puis par TransactionID (conservation de la première occurrence)
- **Uniformisation**: Trim des espaces, conversion en minuscules, normalisation des accents
- **Synonymes**: Mapping manuel des variantes (pates→pâtes, tomato→tomate, etc.)
- **Catégories**: Harmonisation via mapping (epicerie→épicerie, fruits-legumes→fruits & légumes)
- **Dates**: Conversion avec `pd.to_datetime(dayfirst=True)` au format YYYY-MM-DD
- **Valeurs manquantes**: Imputation par la **médiane** (plus robuste que la moyenne face aux outliers)
- **Aberrants**: 
  - Quantités < 0 ou > 100: remplacement par la médiane
  - Prix > 100: remplacement par la médiane
  - Produits invalides: suppression des lignes
- **Colonne Notes**: Supprimée (non utilisée pour l'analyse)

### Impact:
Les statistiques détaillées (nombre de lignes supprimées, valeurs modifiées) sont affichées dans les cellules ci-dessus.

# **Nettoyage des données**
## 1. Import des bibliothèques et des données

In [1]:
import pandas as pd
import numpy as np

# Import data
df = pd.read_excel('donnees_brutes_achats.xlsx')

# Preview of dataset
print(f"Nombre total de lignes: {len(df)}")
print("\nPremières lignes du dataset:")
df.head(10)

Nombre total de lignes: 51

Premières lignes du dataset:

,TransactionID,Produit,Quantité,Prix,Catégorie,Date,Notes
0,1,Pain,1.0,1.20,Boulangerie,2025-09-01,NaN
1,2,Lait,2.0,0.95,Laitage,01/09/2025,NaN
2,3,Beurre,1.0,2.80,Laitage,2025/09/01,NaN
3,4,Tomate,3.0,1.99,Fruits & Légumes,2025-09-02,NaN
4,5,tomato,2.0,2.10,fruits et legumes,02-09-2025,NaN
5,6,Pâtes,1.0,0.89,Épicerie,2025-09-02,promo? 2 pour 1
6,7,pates,2.0,0.89,epicerie,02/09/25,NaN
7,8,Riz,1.0,1.10,Épicerie,2025-09-03,NaN
8,9,Riz,5.0,1.10,épicerie,2025-09-03,NaN
9,10,Yaourt,6.0,0.45,Laitage,2025-09-03,NaN

## 2. Diagnostic de la qualité des données

In [2]:
# General information
print("=== Informations sur le dataset ===")
df.info()

=== Informations sur le dataset ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  51 non-null     int64
 1   Produit        51 non-null     object
 2   Quantité       49 non-null     float64
 3   Prix           49 non-null     float64
 4   Catégorie      49 non-null     object
 5   Date           51 non-null     object
 6   Notes          4 non-null      object
dtypes: float64(2), int64(1), object(4)
memory usage: 2.9+ KB

In [3]:
# Statistical description
print("\n=== Description statistique ===")
df.describe(include='all')

=== Description statistique ===

,TransactionID,Produit,Quantité,Prix,Catégorie,Date,Notes
count,51.000000,51,49.000000,49.000000,49,51,4
unique,NaN,40,NaN,NaN,22,29,4
top,NaN,Beurre,NaN,NaN,Laitage,2025-09-06,promo? 2 pour 1
freq,NaN,4,NaN,NaN,9,4,1
mean,25.803922,NaN,23.061224,22.349184,NaN,NaN,NaN
std,14.593176,NaN,142.494943,142.437880,NaN,NaN,NaN
min,1.000000,NaN,-1.000000,0.000000,NaN,NaN,NaN
25%,13.500000,NaN,1.000000,0.900000,NaN,NaN,NaN
50%,26.000000,NaN,2.000000,1.750000,NaN,NaN,NaN
75%,38.500000,NaN,4.000000,2.800000,NaN,NaN,NaN
max,50.000000,NaN,1000.000000,999.000000,NaN,NaN,NaN

In [4]:
# Missing values
print("\n=== Valeurs manquantes ===")
missing_values = df.isnull().sum()
missing_percent = (df.isnull().sum() / len(df)) * 100
missing_df = pd.DataFrame({
    'Nombre de valeurs manquantes': missing_values,
    'Pourcentage': missing_percent
})
print(missing_df[missing_df['Nombre de valeurs manquantes'] > 0])

=== Valeurs manquantes ===
           Nombre de valeurs manquantes  Pourcentage
Quantité                              2     3.921569
Prix                                  2     3.921569
Catégorie                             2     3.921569
Notes                                47    92.156863

In [5]:
# Duplicates
print("\n=== Analyse des doublons ===")
nb_duplicates = df.duplicated().sum()
print(f"Nombre de doublons exacts: {nb_duplicates}")

# TransactionID duplicates
nb_id_duplicates = df.duplicated(subset=['TransactionID']).sum()
print(f"Nombre de doublons par TransactionID: {nb_id_duplicates}")

=== Analyse des doublons ===
Nombre de doublons exacts: 1
Nombre de doublons par TransactionID: 1

In [6]:
# Unique values
print("\n=== Valeurs uniques ===")
for col in df.columns:
    print(f"{col}: {df[col].nunique()} valeurs uniques")
    if col in ['Produit', 'Catégorie'] and df[col].nunique() < 50:
        print(f"  Exemples: {df[col].unique()[:10]}")

=== Valeurs uniques ===
TransactionID: 50 valeurs uniques
Produit: 40 valeurs uniques
  Exemples: ['Pain' 'Lait' 'Beurre' 'Tomate' 'tomato' 'Pâtes' 'pates' 'Riz' 'Riz '
 'Yaourt']
Quantité: 12 valeurs uniques
Prix: 34 valeurs uniques
Catégorie: 22 valeurs uniques
  Exemples: ['Boulangerie' 'Laitage' 'Fruits & Légumes' 'fruits et legumes' 'Épicerie'
 'epicerie' 'épicerie' 'laitage' 'Œufs & Ovoproduits' 'oeufs']
Date: 29 valeurs uniques
Notes: 4 valeurs uniques

## 3. Gestion des doublons

In [7]:
# Save original df lenght
len_original = len(df)
print(f"Nombre de lignes avant suppression des doublons: {len_original}\n")

# Delete duplicates
df.drop_duplicates(inplace=True)
print(f"Nombre de lignes après suppression des doublons exacts: {len(df)}")
print(f"Doublons exacts supprimés: {len_original - len(df)}\n")

# Delete ID duplicates (keep first)
len_before_id = len(df)
df.drop_duplicates(subset=['TransactionID'], inplace=True)
print(f"Nombre de lignes après suppression des doublons par TransactionID: {len(df)}")
print(f"Doublons par TransactionID supprimés: {len_before_id - len(df)}")

Nombre de lignes avant suppression des doublons: 51

Nombre de lignes après suppression des doublons exacts: 50
Doublons exacts supprimés: 1

Nombre de lignes après suppression des doublons par TransactionID: 50
Doublons par TransactionID supprimés: 0

## 4. Uniformisation des chaînes de caractères

In [8]:
# Trim spaces, and convert into lower case
print("=== Uniformisation des chaînes ===")
print(f"\nExemples de produits avant nettoyage:")
print(df['Produit'].head(20).tolist())

# Clean Produit
df['Produit'] = df['Produit'].astype(str).str.strip()

#Clean Catégorie
df['Catégorie'] = df['Catégorie'].astype(str).str.strip()

=== Uniformisation des chaînes ===

Exemples de produits avant nettoyage:
['Pain', 'Lait', 'Beurre', 'Tomate', 'tomato', 'Pâtes', 'pates', 'Riz', 'Riz ', 'Yaourt', 'yaourts', 'Oeufs', 'oeuf', 'Poulet', 'Poisson', 'Banane', 'bananes', 'Pomme', 'Pommes', 'Concombre']

In [9]:
# Standardise strings - remove accents
df['Produit_normalise'] = (df['Produit']
    .str.lower()
    .str.replace('é', 'e', regex=False)
    .str.replace('è', 'e', regex=False)
    .str.replace('ê', 'e', regex=False)
    .str.replace('à', 'a', regex=False)
    .str.replace('â', 'a', regex=False)
    .str.replace('î', 'i', regex=False)
    .str.replace('ï', 'i', regex=False)
    .str.replace('ô', 'o', regex=False)
    .str.replace('ö', 'o', regex=False)
    .str.replace('û', 'u', regex=False)
    .str.replace('ü', 'u', regex=False)
    .str.replace('ç', 'c', regex=False)
)

In [10]:
# Treat fuzzy duplicates
mapping_products = {
    'pates': 'pâtes',
    'the': 'thé',
    'cafe': 'café',
    'tomato': 'tomate',
    'yaourts': 'yaourt',
    'riz ': 'riz',
    'frommage': 'fromage',
    'huile olive': "huile d'olive",
    'corn flakes': 'corn-flakes',
    'fromage': 'fromage',
    'tomates': 'tomate'
}

# Apply mapping
df['Produit'] = df['Produit_normalise'].replace(mapping_products)

print(f"\nExemples de produits après harmonisation:")
print(df['Produit'].head(20).tolist())
print(f"\nProduits uniques après harmonisation: {df['Produit'].nunique()}")

Exemples de produits après harmonisation:
['pain', 'lait', 'beurre', 'tomate', 'tomate', 'pâtes', 'pâtes', 'riz', 'riz', 'yaourt', 'yaourt', 'oeufs', 'oeuf', 'poulet', 'poisson', 'banane', 'bananes', 'pomme', 'pommes', 'concombre']

Produits uniques après harmonisation: 30

## 5. Harmonisation des catégories

In [11]:
print("=== Harmonisation des catégories ===")
print(f"\nCatégories avant harmonisation:")
print(df['Catégorie'].value_counts())

# Standardise categories
df['Catégorie'] = df['Catégorie'].str.lower().str.strip()

# Category mapping
mapping_categories = {
    'epicerie': 'épicerie',
    'boisson': 'boissons',
    'fruits-legumes': 'fruits & légumes',
    'fruits/legumes': 'fruits & légumes',
    'fruits-legumes': 'fruits & légumes',
    'laitage': 'laitage',
    'cremerie': 'crèmerie',
    'oeufs': 'œufs & ovoproduits',
    'boissons': 'boissons',
    'épicerie': 'épicerie'
}

df['Catégorie'] = df['Catégorie'].replace(mapping_categories)

print(f"\nCatégories après harmonisation:")
print(df['Catégorie'].value_counts())

=== Harmonisation des catégories ===

Catégories avant harmonisation:
Catégorie
Épicerie              9
Laitage               8
epicerie              6
Fruits & Légumes      4
Boissons              3
nan                   2
Boulangerie           2
épicerie              1
fruits et legumes     1
oeufs                 1
laitage               1
Boucherie             1
Poissonnerie          1
fruits-legumes        1
Œufs & Ovoproduits    1
Fruits/Légumes        1
boisson               1
boissons              1
Crèmerie              1
Cremerie              1
Charcuterie           1
charcuterie           1
Divers                1
Name: count, dtype: int64

Catégories après harmonisation:
Catégorie
épicerie              16
laitage                9
fruits & légumes       5
boissons               5
œufs & ovoproduits     2
boulangerie            2
crèmerie               2
charcuterie            2
nan                    2
fruits et legumes      1
fruits/légumes         1
poissonnerie           1
boucherie              1
divers                 1
Name: count, dtype: int64

## 6. Unification du format des dates

In [ ]:
print("=== Unification des dates ===")
print(f"\nExemples de dates avant conversion:")
print(df['Date'].head(20))
print(f"Type de la colonne Date: {df['Date'].dtype}")

# Function to parse dates with multiple formats
def parse_mixed_dates(date_str):
    """
    Parse dates with mixed formats:
    - YYYY-MM-DD, YYYY/MM/DD (year first)
    - DD/MM/YYYY, DD-MM-YYYY, DD/MM/YY (day first)
    """
    if pd.isna(date_str):
        return pd.NaT
    
    date_str = str(date_str).strip()
    
    # First try year-first format (YYYY-MM-DD or YYYY/MM/DD)
    # If it starts with 4 digits, it's probably YYYY
    if len(date_str) >= 10 and date_str[:4].isdigit():
        try:
            return pd.to_datetime(date_str)
        except:
            pass
    
    # Otherwise try day-first format (DD/MM/YYYY, DD-MM-YYYY, DD/MM/YY)
    return pd.to_datetime(date_str, dayfirst=True, errors='coerce')

# Apply the parsing function
print("\n--- Conversion des dates en cours ---")
df['Date'] = df['Date'].apply(parse_mixed_dates)

print(f"\nExemples de dates après conversion:")
print(df['Date'].head(20))
print(f"Type de la colonne Date: {df['Date'].dtype}")

# Check for unconverted dates (NaT)
invalid_dates = df['Date'].isna().sum()
print(f"\nNombre de dates invalides: {invalid_dates}")

if invalid_dates > 0:
    print("\nDates qui n'ont pas pu être converties:")
    print(df[df['Date'].isna()][['TransactionID', 'Produit', 'Date']])

=== Unification des dates ===

Exemples de dates avant conversion:
0     2025-09-01
1     01/09/2025
2     2025/09/01
3     2025-09-02
4     02-09-2025
5     2025-09-02
6       02/09/25
7     2025-09-03
8     2025-09-03
9     2025-09-03
10    03/09/2025
11    2025-09-04
12    04-09-2025
13    2025-09-04
14    2025-09-04
15    2025-09-05
16    05/09/2025
17    2025/09/05
18    2025-09-05
19    2025-09-06
Name: Date, dtype: object
Type de la colonne Date: object

--- Conversion des dates en cours ---

Exemples de dates après conversion:
0    2025-09-01
1    2025-09-01
2    2025-09-01
3    2025-09-02
4    2025-09-02
5    2025-09-02
6    2025-09-02
7    2025-09-03
8    2025-09-03
9    2025-09-03
10   2025-09-03
11   2025-09-04
12   2025-09-04
13   2025-09-04
14   2025-09-04
15   2025-09-05
16   2025-09-05
17   2025-09-05
18   2025-09-05
19   2025-09-06
Name: Date, dtype: datetime64[ns]
Type de la colonne Date: datetime64[ns]

Nombre de dates invalides: 0

## 7. Gestion des valeurs manquantes

In [13]:
print("=== Gestion des valeurs manquantes ===")
print(f"\nValeurs manquantes avant traitement:")
print(df[['Quantité', 'Prix']].isnull().sum())

# Statistics before imputation
print(f"\nStatistiques Quantité avant imputation:")
print(df['Quantité'].describe())
print(f"\nStatistiques Prix avant imputation:")
print(df['Prix'].describe())

# Impute missing values (median)
median_quantity = df['Quantité'].median()
median_price = df['Prix'].median()

print(f"\nValeur médiane pour Quantité: {median_quantity}")
print(f"Valeur médiane pour Prix: {median_price}")

# Fill empties
nb_missing_quantity = df['Quantité'].isnull().sum()
nb_missing_price = df['Prix'].isnull().sum()

df['Quantité'].fillna(median_quantity, inplace=True)
df['Prix'].fillna(median_price, inplace=True)

print(f"\nNombre de valeurs imputées:")
print(f"  - Quantité: {nb_missing_quantity}")
print(f"  - Prix: {nb_missing_price}")

print(f"\nValeurs manquantes après traitement:")
print(df[['Quantité', 'Prix']].isnull().sum())

=== Gestion des valeurs manquantes ===

Valeurs manquantes avant traitement:
Quantité    2
Prix        2
dtype: int64

Statistiques Quantité avant imputation:
count      48.000000
mean       23.520833
std       143.966159
min        -1.000000
25%         1.000000
50%         2.000000
75%         4.250000
max      1000.000000
Name: Quantité, dtype: float64

Statistiques Prix avant imputation:
count     48.000000
mean      22.756458
std      143.916366
min        0.000000
25%        0.897500
50%        1.575000
75%        2.825000
max      999.000000
Name: Prix, dtype: float64

Valeur médiane pour Quantité: 2.0
Valeur médiane pour Prix: 1.575

Nombre de valeurs imputées:
  - Quantité: 2
  - Prix: 2

Valeurs manquantes après traitement:
Quantité    0
Prix        0
dtype: int64

C:\Users\zahor\AppData\Local\Temp\ipykernel_25488\2178208705.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantité'].fillna(median_quantity, inplace=True)
C:\Users\zahor\AppData\Local\Temp\ipykernel_25488\2178208705.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Prix'].fillna(median_price, inplace=True)

## 8. Détection et traitement des valeurs aberrantes

In [14]:
print("=== Détection des valeurs aberrantes ===")

# Negative quantity
negative_quantity = (df['Quantité'] < 0).sum()
print(f"\nQuantités négatives: {negative_quantity}")
if negative_quantity > 0:
    print(df[df['Quantité'] < 0][['TransactionID', 'Produit', 'Quantité']])

# Quantity > 100
excessive_quantity = (df['Quantité'] > 100).sum()
print(f"\nQuantités excessives (>100): {excessive_quantity}")
if excessive_quantity > 0:
    print(df[df['Quantité'] > 100][['TransactionID', 'Produit', 'Quantité']])

# Outlier prices (> 100)
outlier_prices = (df['Prix'] > 100).sum()
print(f"\nPrix aberrants (>100): {outlier_prices}")
if outlier_prices > 0:
    print(df[df['Prix'] > 100][['TransactionID', 'Produit', 'Prix']])

# Empty products
empty_products = (df['Produit'] == '—').sum() + (df['Produit'] == '').sum()
print(f"\nProduits vides ou '—': {empty_products}")

=== Détection des valeurs aberrantes ===

Quantités négatives: 1
    TransactionID Produit  Quantité
31             32    lait      -1.0

Quantités excessives (>100): 1
    TransactionID Produit  Quantité
32             33    pain    1000.0

Prix aberrants (>100): 1
    TransactionID Produit   Prix
33             34   pâtes  999.0

Produits vides ou '—': 2

In [15]:
print("=== Traitement des valeurs aberrantes ===")
len_before_cleaning = len(df)

# Negative quantity: convert into NaN, then fill with median
df.loc[df['Quantité'] < 0, 'Quantité'] = pd.NA
nb_corrected_neg_quantity = df['Quantité'].isna().sum()

# Excessive quantity: convert into NaN, then fill with median
df.loc[df['Quantité'] > 100, 'Quantité'] = pd.NA
nb_corrected_exc_quantity = df['Quantité'].isna().sum() - nb_corrected_neg_quantity

# Impute outlier quantities
df['Quantité'].fillna(median_quantity, inplace=True)

# Outlier prices
df.loc[df['Prix'] > 100, 'Prix'] = pd.NA
nb_corrected_price_outlier = df['Prix'].isna().sum()

# Impute outlier prices
df['Prix'].fillna(median_price, inplace=True)

# Delete empties
df = df[df['Produit'] != '—']
df = df[df['Produit'] != '']
df = df[df['Produit'] != 'nan']

len_after_cleaning = len(df)
nb_deleted = len_before_cleaning - len_after_cleaning

print(f"\nNombre de lignes supprimées (produits invalides): {nb_deleted}")
print(f"Nombre total de lignes restantes: {len_after_cleaning}")

=== Traitement des valeurs aberrantes ===

Nombre de lignes supprimées (produits invalides): 2
Nombre total de lignes restantes: 48

C:\Users\zahor\AppData\Local\Temp\ipykernel_25488\2581040013.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantité'].fillna(median_quantity, inplace=True)
C:\Users\zahor\AppData\Local\Temp\ipykernel_25488\2581040013.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Prix'].fillna(median_price, inplace=True)

## 9. Suppression de la colonne 'Notes'

In [16]:
print("=== Suppression de la colonne Notes ===")
print(f"\nColonnes avant suppression: {df.columns.tolist()}")

# Delete columns
if 'Produit_normalise' in df.columns:
    df = df.drop(columns=['Produit_normalise'])

if 'Notes' in df.columns:
    df = df.drop(columns=['Notes'])

print(f"Colonnes après suppression: {df.columns.tolist()}")

=== Suppression de la colonne Notes ===

Colonnes avant suppression: ['TransactionID', 'Produit', 'Quantité', 'Prix', 'Catégorie', 'Date', 'Notes', 'Produit_normalise']
Colonnes après suppression: ['TransactionID', 'Produit', 'Quantité', 'Prix', 'Catégorie', 'Date']

## 10. Vérification finale et export

In [17]:
print("=== Vérification finale ===")
print(f"\nDimensions du dataset final: {df.shape}")
print(f"\nAperçu du dataset nettoyé:")
print(df.head(10))

print(f"\n=== Informations finales ===")
df.info()

print(f"\n=== Valeurs manquantes finales ===")
print(df.isnull().sum())

print(f"\n=== Statistiques finales ===")
print(df.describe())

=== Vérification finale ===

Dimensions du dataset final: (48, 6)

Aperçu du dataset nettoyé:
   TransactionID Produit  Quantité  Prix          Catégorie       Date
0              1    pain       1.0  1.20        boulangerie 2025-09-01
1              2    lait       2.0  0.95            laitage 2025-09-01
2              3  beurre       1.0  2.80            laitage 2025-09-01
3              4  tomate       3.0  1.99   fruits & légumes 2025-09-02
4              5  tomate       2.0  2.10  fruits et legumes 2025-09-02
5              6   pâtes       1.0  0.89           épicerie 2025-09-02
6              7   pâtes       2.0  0.89           épicerie 2025-09-02
7              8     riz       1.0  1.10           épicerie 2025-09-03
8              9     riz       5.0  1.10           épicerie 2025-09-03
9             10  yaourt       6.0  0.45            laitage 2025-09-03

=== Informations finales ===
<class 'pandas.core.frame.DataFrame'>
Index: 48 entries, 0 to 50
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  48 non-null     int64
 1   Produit        48 non-null     object
 2   Quantité       48 non-null     float64
 3   Prix           48 non-null     float64
 4   Catégorie      48 non-null     object
 5   Date           48 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 2.6+ KB

=== Valeurs manquantes finales ===
TransactionID    0
Produit          0
Quantité         0
Prix             0
Catégorie        0
Date             0
dtype: int64

=== Statistiques finales ===
       TransactionID   Quantité       Prix                 Date
count      48.000000  48.000000  48.000000                   48
mean       24.625000   2.812500   2.009583  2025-09-05 21:30:00
min         1.000000   1.000000   0.280000  2025-09-01 00:00:00
25%        12.750000   1.000000   0.937500  2025-09-03 00:00:00
50%        24.500000   2.000000   1.575000  2025-09-06 00:00:00
75%        36.250000   3.250000   2.800000  2025-09-08 00:00:00
max        50.000000  12.000000   7.500000  2025-09-12 00:00:00
std        14.203124   2.606508   1.646926                  NaN

In [18]:
# Export cleaned df
df.to_excel('donnees_achats_propre.xlsx', index=False)
print("\nFichier 'donnees_achats_propre.xlsx' exporté avec succès!")

# Export in csv
df.to_csv('donnees_achats_propre.csv', index=False, encoding='utf-8-sig')
print("Fichier 'donnees_achats_propre.csv' exporté avec succès!")

Fichier 'donnees_achats_propre.xlsx' exporté avec succès!
Fichier 'donnees_achats_propre.csv' exporté avec succès!